@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FIAP Challenge: Clean Architecture </h1>
    <p>This is the presentation layer of a project for my Post-degree course in <b>Azure Architecture with .Net</b></p>
    <p>This is a challenge proposed during the <b>CLEAN ARCHITECTURE</b> module as below:</p>
</div>

<div>
    <hr/>
    <h3 class="text-center pb-1">Challenge</h3>
    <dl>
        <dt>You received contact from an NGO (Non-Governmental Organization) that works with food distribution to other NGOs, according to what they request.</dt>
        <dt> The NGO receives donations in packages, with various foods inside, stores them and then delivers these donations in other packages.</dt>
        <dt class="pt-1 pb-2">&nbsp; For example, the Non-Governmental Organization you are in contact with may:</dt>
        <dd>&nbsp; -&nbsp; Receive a package with 200 kg of rice, 100 kg of beans and 300 cans of oil, and;</dd>
        <dd>&nbsp; -&nbsp; Receives a request from another NGO asking for the donation of 30 kg of rice, 10 kg of beans and 15 cans of oil.</dd>
        <dd>&nbsp; -&nbsp; To do this, delivery must be made with other packages, as different separation will be required.</dd>
    </dl>
    <hr/>

    <p class="text-center">
        The code and full description are available on GitHub:
        <a href="https://github.com/raphaelcordon/FiapChallengeCleanArchitecture" target="_blank">
            <i>link here</i>
        </a>
    </p>
    <hr/>

    <div class="text-center bg-success text-white p-3">
        <p>Access to the project here:</p>
        <a asp-controller="Project" asp-action="ProjectEntities">
            <button type="button" class="btn btn-warning btn-lg btn-block">..:: THE PROJECT ::..</button>
        </a>
    </div>

    <hr/>

</div>